.idea

### Java template
# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar

.gradle
/build/
/out/

# Ignore Gradle GUI config
gradle-app.setting

!gradle/wrapper/gradle-wrapper.jar